<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sagarkhurana.prodriver">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizForFun">
        <activity android:name="com.sagarkhurana.prodriver.RandomQuizActivity"></activity>
        <activity android:name="com.sagarkhurana.prodriver.FinalResultActivity" />
        <activity android:name="com.sagarkhurana.prodriver.EditPasswordActivity" />
        <activity android:name="com.sagarkhurana.prodriver.HistoryActivity" />
        <activity android:name="com.sagarkhurana.prodriver.RuleActivity" />
        <activity android:name="com.sagarkhurana.prodriver.QuizOptionActivity" />
        <activity android:name="com.sagarkhurana.prodriver.RegisterActivity" />
        <activity
            android:name="com.sagarkhurana.prodriver.LoginActivity"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.sagarkhurana.prodriver.MainActivity" />
    </application>

</manifest>